*{
    margin: 0;
    padding: 0;
}
.card {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 300px;
    border: 2px red solid;
    
    justify-content:space-evenly;

}
.card-top {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items:flex-end;
    border: 2px green solid;
    justify-content: space-evenly;
}
.card-mid{
    border: 2px rgb(128, 0, 85) solid;
    align-content: center;
    text-align: center;
}
.card-low{
    display: flex;
    flex-direction: row;
    justify-content:inherit;
    border: 2px green solid;
}
.card-top-mid img{
    border-radius: 3rem;
}
.card-mid h2{
    font-size: 1.5rem;
}
.card-mid h4{
    font-size: 1rem;
}
.card-low a{
    border:2px solid red;
    font-size: 1.25rem;
}



.btn-list
{
	padding:15px 15px; 
	/* margin:48px 0; */
	/* position:relative */
}





.btn-list:after
{
	/* width:90%;
	height:48px; */
	font:bold 18px/2.6 Roboto,sans-serif;
	text-align:center;
	position:absolute;
	top:-48px;
	left:5%;
	z-index:-1;
	border-radius:3px 3px 0 0
}

.btn-list li:not(.title)
{
	float:left
}

.btn-gradient
{
	width:36px;
	height:36px;
	text-align:center;
	line-height:2.2;
	display:block;
	/* margin:3px; */
	border-radius:2px;
	-webkit-transition:all 300ms;
	transition:all 300ms
}



.btn-gradient i
{
	font-size:18px;
	line-height:1;
	vertical-align:middle
}

#dark
{
	
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:space-evenly;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column
}





#dark .btn-gradient
{
	color:rgba(255,255,255,0.54);
	box-shadow:0 0 1px rgba(255,255,255,0.54)
}

#dark .btn-gradient:hover
{
	color:#FFF
}

#dark .btn-list:after
{
	color:rgba(255,255,255,0.54);
	background:#000;
	box-shadow:0 0 8px rgba(255,255,255,0.10)
}

#dark .btn-list
{
	background:#7c7575;
	box-shadow:0 0 8px rgba(0,0,0,0.10)
}

@-webkit-keyframes Gradient {
	0%
	{
		background-position:0 50%
	}
	
	50%
	{
		background-position:100% 50%
	}
	
	100%
	{
		background-position:0 50%
	}
}

@keyframes Gradient {
	0%
	{
		background-position:0 50%
	}
	
	50%
	{
		background-position:100% 50%
	}
	
	100%
	{
		background-position:0 50%
	}
}














#dark .btn-gradient.twitter:hover
{
	box-shadow:0 5px 8px rgba(33,150,243,0.50);
	background:#00BCD4;
	background:-webkit-linear-gradient(left,#00BCD4 0%,#2196F3 100%);
	background:linear-gradient(to right,#00BCD4 0%,#2196F3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BCD4',endColorstr='#2196F3',GradientType=1);
	background-size:400%;
	-webkit-animation:Gradient 1s ease infinite;
	animation:Gradient 1s ease infinite
}




#dark .btn-gradient.linkedin:hover
{
	box-shadow:0 5px 8px rgba(3,169,244,0.50);
	background:#0288D1;
	background:-webkit-linear-gradient(left,#0288D1 0%,#2196F3 100%);
	background:linear-gradient(to right,#0288D1 0%,#2196F3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0288D1',endColorstr='#2196F3',GradientType=1);
	background-size:400%;
	-webkit-animation:Gradient 1s ease infinite;
	animation:Gradient 1s ease infinite
}

#dark .btn-gradient.github:hover
{
	color:rgba(33,33,33,1);
	box-shadow:0 5px 8px rgba(0,0,0,0.50);
	background:#ECEFF1;
	background:-webkit-linear-gradient(left,#ECEFF1 0%,#B0BEC5 100%);
	background:linear-gradient(to right,#ECEFF1 0%,#B0BEC5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECEFF1',endColorstr='#B0BEC5',GradientType=1);
	background-size:400%;
	-webkit-animation:Gradient 1s ease infinite;
	animation:Gradient 1s ease infinite
}



#dark .btn-gradient.gmail:hover
{
	box-shadow:0 5px 8px rgba(244,67,54,0.50);
	background:#D50000;
	background:-webkit-linear-gradient(left,#D50000 0%,#FF1744 100%);
	background:linear-gradient(to right,#D50000 0%,#FF1744 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D50000',endColorstr='#FF1744',GradientType=1);
	background-size:400%;
	-webkit-animation:Gradient 1s ease infinite;
	animation:Gradient 1s ease infinite
}

#dark .btn-gradient.skype:hover
{
	box-shadow:0 5px 8px rgba(3,169,244,0.50);
	background:#030000;
	background:#039BE5;
	background:-webkit-linear-gradient(left,#039BE5 0%,#29B6F6 100%);
	background:linear-gradient(to right,#039BE5 0%,#29B6F6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#039BE5',endColorstr='#29B6F6',GradientType=1);
	background-size:400%;
	-webkit-animation:Gradient 1s ease infinite;
	animation:Gradient 1s ease infinite
}


