*{
    margin: 0;
    padding: 0;
}
.card {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 300px;
    border: 2px red solid;
    margin: 10px;
    justify-content:space-evenly;

}
.card-top {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items:flex-end;
    border: 2px green solid;
    justify-content: space-evenly;
}
.card-mid{
    border: 2px rgb(128, 0, 85) solid;
    align-content: center;
    text-align: center;
}
.card-low{
    display: flex;
    flex-direction: row;
    justify-content:inherit;
    border: 2px green solid;
}
.card-top-mid img{
    border-radius: 3rem;
}
.card-mid h2{
    font-size: 1.5rem;
}
.card-mid h4{
    font-size: 1rem;
}
.card-low a{
    border:2px solid red;
    font-size: 1.25rem;
}



#dark .normal{
	display: flex;

}




.right-region {
	display: flex;
	flex-flow: wrap;
}