*{
    margin: 0;
    padding: 0;
}
.card {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 300px;
    margin: 10px;
    justify-content:space-evenly;
    background: linear-gradient(180deg, rgba(84,194,255,1) 0%, rgba(93,255,155,1) 100%);
    border-radius: 15px;
    /* margin-top: 70px; */

}
.card-top {
    display: flex;
    flex-direction: row;
    /* margin-top: 0.5rem; */
    margin-bottom: 0.5rem;
    align-items:flex-end;
    /* border: 2px green solid; */
    justify-content: space-evenly;
}
.card-mid{
    /* border: 2px rgb(128, 0, 85) solid; */
    align-content: center;
    text-align: center;
    font-family:sans-serif;
}
.card-low{
    display: flex;
    flex-direction: row;
    justify-content:inherit;
    border: 2px green solid;
}
.card-top-mid img{
    border-radius: 3rem;
}
.card-mid h2{
    font-size: 1.5rem;
}
.card-mid h4{
    font-size: 1rem;
}
.card-low a{
    border:2px solid red;
    font-size: 1.25rem;
}



#dark .normal{
	display: flex;
    justify-content: space-around;

}
#dark .normal li{
	font-size: 1.35rem;
}

.fa {
    padding: 7px;
    font-size: 5px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-sizing: unset;
  }
  .fa:hover {
    opacity: 0.7;
}
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-skype {
    background: #00aff0;
    color: white;
  }
  .fa-envelope {
    background: #dd4b39;
    color: white;
  }
  .fa-github {
    background: #817e7d;
    color: white;
  }

.right-region {
	display: flex;
	flex-flow: wrap;
}

  .mybtn:hover{
    background-color: #14849a;
  }

  .mybtn{
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 5px;
    padding-top: 2px;
    background-color: #1bc9ec;
    border-radius: 10px;
  }
  .mybtn2{
    background-color: #dee4e6;
  }
  .mybtn2:hover{
    background-color: #14849a;
  }
  p{
    font-family: cursive;
    font-style: oblique;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .right-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
  }
  .right-links a {
    text-transform: none;
    color: white;
  }