{{signupform.hidden_tag()}}
<table>
    <tr>
        <td>{{signupform.username.label}}</td>
        <td>{{signupform.username}}</td>
    </tr>
    <tr>
        <td>{{signupform.firstname.label}}</td>
        <td>{{signupform.firstname}}</td>
    </tr>
    <tr>
        <td>{{signupform.lastname.label}}</td>
        <td>{{signupform.lastname}}</td>
    </tr>
    <tr>
        <td>{{signupform.email.label}}</td>
        <td>{{signupform.email}}</td>
    </tr>
    <tr>
        <td>{{signupform.password.label}}</td>
        <td>{{signupform.password}}</td>
    </tr>
    <tr>
        <td>{{signupform.confirm_password.label}}</td>
        <td>{{signupform.confirm_password}}</td>
    </tr>
    <tr>
        <td>{{signupform.submit}}</td>
    </tr>
</table>