<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/become_a_coach.css') }}"
    />
  </head>
  <body>
    <div class="login-box">
      <h2>Become a Coach</h2>
      <form action="{{url_for('becomecoach')}}" id="my_form" method="POST">
        <div class="user-box">
          <input type="text" name="position" required="" />
          <label>Position</label>
        </div>
        <div class="user-box">
          <input type="text" name="organization" required="" />
          <label>Organization</label>
        </div>
        <div class="user-box">
          <input type="text" name="country" required="" />
          <label>Country</label>
        </div>
        <div class="user-box">
          <input type="text" name="linkedin" required="" />
          <label>Linkedin Full Url</label>
        </div>
        <div class="user-box">
          <input type="text" name="twitter" required="" />
          <label>Twitter Full Url</label>
        </div>
        <div class="user-box">
          <input type="text" name="github" required="" />
          <label>Github Full Url</label>
        </div>
        <div class="user-box">
          <input type="text" name="skypeid" required="" />
          <label>Skype ID [Permission Required to show]</label>
        </div>
        <div class="user-box">
          <input
            type="textarea"
            name="shortdescription"
            required=""
            maxlength="42"
          />
          <label>Short Description</label>
        </div>
        <a
          href="javascript:{}"
          onclick="document.getElementById('my_form').submit(); return false;"
        >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
  </body>
</html>
