<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/cards.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
</head>
<body>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    
    <div class="card">
      <div>
        <img src="https://lh3.googleusercontent.com/a-/AOh14GgQFRt0F5N_lpQlWTqw9X-2VB3muehjVu4z-4JXvPY=s96-c">
    
        <h1>Chaudhary Sarimurrab<br>
          <span>Student</span>
        </h1>
        <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
        <ul>
          <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
        </ul>
        <a class="btn" href="">Hire Me</a>
      </div>
    </div>
</body>
</html>