<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>startUpCoach</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    

</head>

<body>
    <div class="topnav">

        <div class="navelements">
            <a class="navbar-brand" href="/">
                HOME
            </a>
            
            <a href="#blog">Blog</a>
            <a href="#career">Career</a>
            <a href="#about">About</a>
            <div class="topnav-right">
                
                {% if current_user.is_authenticated %}
                
                <a href="{{url_for('becomecoach')}}">Become Coach</a>
                <a href="{{ url_for('profile') }}">Hi {{ current_user.name }}!&Tab;</a>
                <a href="{{url_for('logout')}}">Logout</a>
                {%else%}
                <a href="{{ url_for('google_login') }}">LogIn/SignUp</a> 
                {% endif %}
            </div>
        </div>
    </div>
    <section id="banner" style="background : linear-gradient(rgba(0,0,0,0.5),#009688), url('{{ url_for('static',filename='images/bgimg.jpg') }}'); background-size : cover; background-position : center; height : 100vh;">
        <div class="banner-text">
            <h1>startUp Coach</h1>
            <p>“Mentoring is a brain to pick, an ear to listen, and a push in the right direction.”</p>
            <div class="banner-btn">
                {% if current_user.is_authenticated ==False%}
                <a href="{{ url_for('google_login') }}"><span></span> Find a Mentor</a>
                {%else%}
                <a href="{{url_for('list_of_coach')}}"><span></span> Mentors</a>
                {%endif%}
            </div>

        </div>
    </section>

    <div id= "sideNav"> 
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Why Chose Us?</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img src="menu.png" id="menu">
    </div>

    <script>
        var menuBtn= document.getElementById("menuBtn")
        var sideNav= document.getElementById("sideNav")
        var menu= document.getElementById("menu")

        sideNav.style.right="-250px"

        menuBtn.onclick=function(){
            if(sideNav.style.right=="-250px"){
                sideNav.style.right="0";
            }
            else{
                sideNav.style.right="-250px";
            }
        }
    </script>





    <section id="about">
        <div class="title-text">
            <h1>Why Chose Us?</h1>
            <p>
                Coding Coach is a free, open-source platform which aims to connect software developers and mentors all over the world. It is built by a group of talented and passionate developers, designers, engineers, and humans who want to make the engineering world a better place to collaborate. This project was born out of a desire to provide a platform to connect mentors and mentees throughout the world at no cost. Coding Coach is created by the people, for the people.
            </p>

        </div>
         
    </section>



</body>

</html>