<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
          crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/pro_card.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <title>Mentors</title>
  </head>

  <body>
    <!-- <div class="navbar fixed-top navbar-expand-md ">
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('services')}}">Services</a>
      <a href="{{ url_for('profile') }}" style="margin-left: auto;">Hi, {{ current_user.name }}!&Tab;</a>
      <a href="{{url_for('logout')}}" style="margin-left: 0px;">Logout</a>
    </div> -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"> HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('services')}}">Services</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center">
          <ul class="right-links">
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('profile') }}"
                style="margin-left: 0px"
                >Hi {{ current_user.name }}!&Tab;</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="left-region"></div>
    <div class="right-region">
      {%for coach in result%}

      <div class="card">
        <div class="card-top">
          <div class="card-top-left">{{coach[1].country}}</div>
          <div class="card-top-mid">
            <img src="{{coach[0].picture}}" alt="mentor-photo" />
          </div>
          <div class="card-top-right">Avg</div>
        </div>

        <div class="card-mid">
          <h2>{{coach[0].name}}</h2>
          

          <h4>{{coach[1].position}}, {{coach[1].organization}}</h4>
          <p>{{'“'+coach[1].shortdescription+'”'}}</p>
          {%if current_user.username == coach[0].username%}
          <a class="btn mybtn mybtn2"  href="#" style="text-decoration: none;">Your Profile</a>
          {%else%}
          <a class="btn mybtn" target="_blank" href="{{url_for('send_request',rcvd_username = coach[0].username)}}" style="text-decoration: none;">Send Request</a>
          {%endif%}
        </div>


        
        <div id="dark">
          {%if coach[0].username in mentor_alwd_mente_lst%}
          <ul class="btn-list normal">
            <li>
              <a
                target="_blank"
                href="{{coach[1].twitter}}"
                class="btn-gradient twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="{{coach[1].linkedin}}" class="btn-gradient linkedin"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="{{coach[1].github}}" class="btn-gradient github"
                ><i class="fa fa-github"></i
              ></a>
            </li>
            {%set gmail_link = "https://mail.google.com/mail/u/0/?fs=1&to="+coach[0].email+"&su=REFERRING%20FROM%20START-UP%20COACH&body=Hello,%20This%20is%20"+current_user.name+"%0d%0a"+"..."+"%0d%0a"+"..."+"%0d%0a"+"..."+"%0d%0a%0d%0a%0d%0a%0d%0a"+"Thanks%20and%20Regards"+"%0d%0a"+current_user.name+"&tf=cm" %}
            
            <li>
              <a target="_blank" href="{{gmail_link}}" class="btn-gradient gmail"
                ><i class="fa fa-envelope"></i
              ></a>
            </li>
            {%set skype_chat = "skype:"+coach[1].skypeid+"?chat"%}
            <li>
              <a target="_blank" href="{{skype_chat}} class="btn-gradient skype"
                ><i class="fa fa-skype"></i
              ></a>
              
            </li>
          </ul>
          {%endif%}
        </div>
      </div>
      {%endfor%}
    </div>
  </body>
</html>
